*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face{
    font-family: "Roboto-Black";
    src: url("../media/font/Roboto-Black.ttf");
}
@font-face{
    font-family: "Roboto-Medium";
    src: url("../media/font/Roboto-Medium.ttf");
}

@font-face{
    font-family: "Roboto-Light";
    src: url("../media/font/Roboto-Light.ttf");
}

#socialMediaLinks{

    list-style-type: none;
    text-decoration: none;
}

#socialMediaLinks > a{
    color: whitesmoke;
    text-decoration: none;
}

.navbar{
    display: flex;
    justify-content: space-around;
    background-color: #3B0053;
}

.nav-main{
    font-family: "Roboto-Black", sans-serif;
    font-size: 20px;
}
 
ul.nav-main{
    list-style: none;
}

.nav-elem{
    display: inline-block;
    text-align: center;
}

.nav-elem a {
    display: block;
    padding: 20px;
    margin: 0px 20px 0px 20px;
    text-decoration: none;
    color: #FFFAFA;
}

.navbar-toggle{
    position: absolute;
    top: -1px;
    right: 40px;
    padding: 20px;
    margin: 0px 20px 0px 20px;
    cursor: pointer;
    color: #FFFAFA;
    font-size: 24px;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh
}

#hello{
    background: url("../media/img/Hello.jpg") no-repeat center center/cover;
}


.article-text{
    position: absolute;
    left: 50%;
    font-size: 30px;
    color: #FFF8DC;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    z-index: 3;
}

.overlay{
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
  }

